*
!.git
!.github
!.env.development
!.env.production
!.eslintrc.json
!.npmrc
!.prettierrc
!pomaiwhiteboard-app/
!pomaiwhiteboard-app/build/
!package.json
!public/
!packages/
!scripts/
!tsconfig.json
!yarn.lock

**/dist
**/node_modules
